<div class="forecast-table">
                <div class="container">
                    <div class="forecast-container">
                        <div class="today forecast" ng-repeat="w in weatherResult.list | limitTo:1">
                            <div class="forecast-header">
                                <div class="day">{{ convertToDate(w.dt) | date: "EEEE, HH:mm" }}</div>
                                <div class="date">{{ convertToDate(w.dt) | date: "MMM d, y" }}</div>
                            </div> <!-- .forecast-header -->
                            <div class="forecast-content">
                                <div class="location">{{ weatherResult.city.name }}</div>
                                <div class="degree">
                                    <div class="num">{{ convertToCelsius(w.main.temp_max) }}<sup>o</sup>C</div>
                                    <div class="forecast-icon">
                                        <img ng-src="{{ getIcon(w.weather.description) }}" alt="" width=90>
                                    </div>  
                                </div>
                                <span><img src="images/icon-wind.png" alt="">{{ w.wind.speed }}km/h</span>
                                <span><img src="images/icon-compass.png" alt="">{{ degToCompass(w.wind.deg) }}</span>
                            </div>
                        </div>

                        <div class="forecast" ng-repeat="w in weatherResult.list | limitTo:(1 - weatherResult.list.length)">
                            <weather-report weather-day="w" convert-to-standard="convertToCelsius(daytimeTemp)" convert-to-date="convertToDate(dt)" date-format="EEE, HH:mm"></weather-report>
                        </div>
                        
                    </div>
                </div>
            </div>